*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#accordion{
    margin: 3rem auto;
    width: 70%;
    padding: 1rem;
}
.accord{
    margin-bottom: 0.5rem;
}
.accord h1{
    background-color: rgb(34, 179, 179);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accord h1 i{
    cursor: pointer;
}
.accord p{
    padding: 1rem 0.25rem;
    border: 1px solid #e3e3e3;
    border-top: none;
    display: none;
}

.accord p.visible{
    display: flex;
    flex-direction: column;
}